<section id="sub_category_page">
  <h2 class="page_title"><%= @subcategory.name %>
  <br><span>(<%= @subcategory.talks.count %>件)</span>
  </h2>
  <ul class="row">
    <% @subcategory.talks.each do |talk| %>
      <div class="talks_block col s6">
        <div class="talk_block">
          <div class="talk_thumnbnail_cover">
            <%= image_tag(talk.thumbnail) %>
            <span class="take_time"><%= talk.taketime.strftime("%H:%M") %></span>
          </div>
          <span class="speaker_name">
            <%= link_to talk.speaker.name,speaker_path(talk.speaker.id) %>
          </span>
          <br>
          <%= link_to talk.title ,talk_path(talk) %>
        </div>
      </div>
    <% end %>
  </ul>
</section>
