<div class="shadow_section">
  <section id="sub_category_page" class="section_block">
    <h2 class="page_title"><%= @subcategory.name %>
    <br><span>(<%= @subcategory.talks.count %>件)</span>
    </h2>
    <ul class="row">
      <% @subcategory.talks.each do |talk| %>
        <div class="talks_block col s6 m3">
          <div class="talk_block card">
            <div class="talk_thumnbnail_cover card-image">
              <%= image_tag(talk.thumbnail, :class => "activator") %>
              <span class="take_time"><%= talk.taketime.strftime("%H:%M") %></span>

              <span class="detail_desp_triger activator">内容</span>
            </div>
            <div class="card-content">
              <span class="speaker_name">
                <%= link_to talk.speaker.name,speaker_path(talk.speaker.id) %>
              </span>
              <br>
              <%= link_to talk.title ,talk_path(talk) %>
            </div>
            <div class="card-reveal">
              <span class="card-title">
                内容<i class="fas fa-times right"></i>
              </span>
              <p class="talk_title"><%= link_to talk.title ,talk_path(talk) %></p>
              <p class="talk_summary"><%= talk.summary %></p>
            </div>
          </div>
        </div>
      <% end %>
    </ul>
  </section>
</div>

