<section id="show">
  <div class="talk_thumnbnail_cover">
    <%= image_tag @talk.thumbnail %>
    <span id="start_btn" class="start_radio_btn"><i class="fas fa-play fa-2x"></i></span>
    <span id="resume_btn" class="resume_radio_btn"><i class="fas fa-play fa-2x"></i></span>
    <span id="stop_btn" class="stop_radio_btn"><i class="fas fa-equals fa-2x fa-rotate-90"></i></span>
    <div id="pass_time" class="now_time">
      <span id="pass_min">00</span>:<span id="pass_sec">00</span>
    </div>
    <span class="take_time"><%= @talk.taketime.strftime("%H:%M") %></span>
  </div>
  <div class="talk_info">
    <h2><%= @talk.title %></h2>
    <div class="container">
      <%= @talk.speaker.name %>
      <span class="right"><%= @talk.date.strftime("%Y/%m/%d") %></span>
    </div>
    <div class="categories_name right">
      <div class="chip"><%= @talk.bigcategory.name %></div>
      <div class="chip"><%= @talk.smallcategory.name %></div>
    </div>
  </div>
  <div class="summary container">
    <%= simple_format(@talk.summary) %>
  </div>
  <div id="sentence" class="sentence container">
    <%= simple_format(@talk.sentence) %>
  </div>
</section>

<section id="relation_talk" class="talks_block row">
  <h2 class="relation_title">関連トーク</h2>
  <% @talk.smallcategory.talks.order("RANDOM()")[0..9].each do |talk| %>
    <div class="talk_block col s6">
      <div class="talk_thumnbnail_cover">
        <%= image_tag(talk.thumbnail) %>
        <span class="start_radio_btn"><i class="fas fa-play fa-2x"></i></span>
        <span class="take_time"><%= talk.taketime.strftime("%H:%M") %></span>
      </div>
      <%= link_to talk.speaker.name,speaker_path(talk.speaker.id) %>
      <br>
      <%= link_to talk.title ,talk_path(talk) %>
    </div>
  <% end %>
</section>

<script>
$(function() {
  var sec = 0;
  var min = 0;
  var timer = 0;
  // 準備 $voicesを取得したいだけなのだけれども
  $voise        = null;
  $voiseName    = 'Google 日本語';
  $voices       = speechSynthesis.getVoices();
  $synthes      = new SpeechSynthesisUtterance();

  // SpeechSynthesisUtterance()に時間かかるから様子みる
  $repeat  = setInterval(function() {
    if($synthes){
      $voices  = speechSynthesis.getVoices();
      clearInterval($repeat);
    }
  }, 300);

  // 読み上げ
  function say(msg){
    $voise = $.grep($voices, function(n, i){return n.name == $voiseName})[0];
    $synthes.voice = $voise;                  // 音声の設定
    $synthes.rate = 1.2;
    speechSynthesis.cancel();                 // かぶった読み停止
    $synthes.text  = msg;                     // 読む内容
    // $synthes.lang = 'ja-JP';
    speechSynthesis.speak($synthes);          // 喋れ
    console.log(msg);
  }

  function stop($synthes){
    speechSynthesis.pause($synthes);
  }

  function resume($synthes){
    speechSynthesis.resume($synthes);
  }
  function pass_count(){
    if(sec< 10){
      $("#pass_sec").text("0"+parseInt(sec));
    }else{
      $("#pass_sec").text(parseInt(sec));
    }
    if(min< 10){
      $("#pass_min").text("0"+parseInt(min));
    }else{
      $("#pass_min").text(parseInt(min));
    }
    sec++;
    if(sec == 60){
      sec = 0;
      min++;
    };
  }
  // ボタン動作
  $('#start_btn').on('click',function(){
    $(this).hide();
    $("#stop_btn").show();
    timer = setInterval(pass_count,1000);
    var i = 0;
    var last_say_num = $("#sentence p").length;
    console.log(last_say_num);
    say($("#sentence p").eq(i).text());
    $synthes.onend = function (event) {
      if(i == last_say_num){
        return false;
      }
      i++;
      say($("#sentence p").eq(i).text());
      $synthes.onend;
    };
  });

  $(function () {
    var ted_sentence = $("#sentence").html();
    var sentence_fixed = ted_sentence.replace(/。/g, "。</p><p>");
    var sentence_fixed = sentence_fixed.replace(/？/g, "？</p><p>");
    var sentence_fixed = sentence_fixed.replace(/」/g, "」</p><p>");
    $("#sentence").html(sentence_fixed);
  });

  $("#stop_btn").on('click',function(){
    stop($synthes);
    clearInterval(timer);
    $(this).hide();
    $("#resume_btn").show();
  });

  $("#resume_btn").on('click',function(){
    resume($synthes);
    timer = setInterval(pass_count,1000);
    $(this).hide();
    $("#stop_btn").show();
  });
});
</script>

