<!DOCTYPE html>
<html>
  <head>
    <%= display_meta_tags(default_meta_tags) %>
    <!-- <title>TEDRadio | 日本語音声で聞けるTEDメディア</title> -->
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="favicons/favicon.ico">
    <link rel="icon" type="image/vnd.microsoft.icon" href="favicons/favicon.ico">
    <link rel="apple-touch-icon" sizes="57x57" href="favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="favicons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="36x36" href="favicons/android-chrome-36x36.png">
    <link rel="icon" type="image/png" sizes="48x48" href="favicons/android-chrome-48x48.png">
    <link rel="icon" type="image/png" sizes="72x72" href="favicons/android-chrome-72x72.png">
    <link rel="icon" type="image/png" sizes="96x96" href="favicons/android-chrome-96x96.png">
    <link rel="icon" type="image/png" sizes="128x128" href="favicons/android-chrome-128x128.png">
    <link rel="icon" type="image/png" sizes="144x144" href="favicons/android-chrome-144x144.png">
    <link rel="icon" type="image/png" sizes="152x152" href="favicons/android-chrome-152x152.png">
    <link rel="icon" type="image/png" sizes="192x192" href="favicons/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="256x256" href="favicons/android-chrome-256x256.png">
    <link rel="icon" type="image/png" sizes="384x384" href="favicons/android-chrome-384x384.png">
    <link rel="icon" type="image/png" sizes="512x512" href="favicons/android-chrome-512x512.png">
    <link rel="icon" type="image/png" sizes="36x36" href="favicons/icon-36x36.png">
    <link rel="icon" type="image/png" sizes="48x48" href="favicons/icon-48x48.png">
    <link rel="icon" type="image/png" sizes="72x72" href="favicons/icon-72x72.png">
    <link rel="icon" type="image/png" sizes="96x96" href="favicons/icon-96x96.png">
    <link rel="icon" type="image/png" sizes="128x128" href="favicons/icon-128x128.png">
    <link rel="icon" type="image/png" sizes="144x144" href="favicons/icon-144x144.png">
    <link rel="icon" type="image/png" sizes="152x152" href="favicons/icon-152x152.png">
    <link rel="icon" type="image/png" sizes="160x160" href="favicons/icon-160x160.png">
    <link rel="icon" type="image/png" sizes="192x192" href="favicons/icon-192x192.png">
    <link rel="icon" type="image/png" sizes="196x196" href="favicons/icon-196x196.png">
    <link rel="icon" type="image/png" sizes="256x256" href="favicons/icon-256x256.png">
    <link rel="icon" type="image/png" sizes="384x384" href="favicons/icon-384x384.png">
    <link rel="icon" type="image/png" sizes="512x512" href="favicons/icon-512x512.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicons/icon-16x16.png">
    <link rel="icon" type="image/png" sizes="24x24" href="favicons/icon-24x24.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicons/icon-32x32.png">

    <meta property="og:title" content="TEDRadio | 日本語音声で聞けるTEDメディア" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= root_url%>" />
    <meta property="og:image" content="<%= root_url%>ogp_img.png" />
    <meta property="og:site_name"  content="TEDRadio | 日本語音声で聞けるTEDメディア" />
    <meta property="og:description" content="TEDRadioは、外国語のTEDでも日本語音声で聞けるTED日本語音声メディアです。字幕を見るために目が離せなくなっていたTEDも、楽に聞けるようになりました。有名TEDを是非日本語で聞いてみてください！" />

    <!-- //Facebook用 -->
    <meta property="fb:app_id" content="2219201654987813" />
    <meta property="article:publisher" content="<%= root_url%>" />

    <!-- //Twitter用 -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@hatsu" />
    <meta name="twitter:title" content="TEDRadio | 日本語音声で聞けるTEDメディア" />
    <meta name="twitter:url" content="<%= root_url%>" />
    <meta name="twitter:description" content="TEDRadioは、外国語のTEDでも日本語音声で聞けるTED日本語音声メディアです。字幕を見るために目が離せなくなっていたTEDも、楽に聞けるようになりました。有名TEDを是非日本語で聞いてみてください！" />
    <meta name="twitter:image" content="<%= root_url%>ogp_img.png" />

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v3.2&appId=1104643199674110&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
    <header>
      <h1><%= link_to "TEDRadio",root_path %></h1>
      <i class="fas fa-search form_to_appear"></i>
      <div class="search_form row">
        <i class="fas fa-search form_to_close"></i>
        <%= form_tag(search_path, :method => 'get' ) do %>
          <%= text_field_tag :search,params[:search],class: 'col s9 offset-s1 search_field' %>
          <%= submit_tag '検索', class: 'btn col s2 search_btn' %>
        <% end %>
      </div>
    </header>
    <%= yield %>

    <div class="shadow_section">
      <section id="relation_category" class="section_block">
        <h2 class="relation_title">カテゴリー一覧</h2>
        <div class="talks_block">
          <ul class="collapsible">
            <% @categories.each do |category| %>
              <li class="row">
                <div class="collapsible-header col s11">
                  <i class="fas fa-plus"></i><%= category.name %>
                  <span>(<%= category.talks.count %>)</span>
                </div>
                <%= link_to category_path(category),class: 'to_category_link s1' do %>
                  <i class="material-icons">send</i>
                <% end %>
                <div class="collapsible-body">
                  <ul class="collection">
                    <% category.smallcategories.each do |subcategory| %>
                      <%= link_to subcategory_path(subcategory) do %>
                        <li class="collection-item">
                          <%= subcategory.name %>
                          <span>(<%= subcategory.talks.count %>)</span>
                          <%= link_to subcategory_path(subcategory),class: 'secondary-content' do %>
                            <i class="material-icons">send</i>
                          <% end %>
                        </li>
                      <% end %>
                    <% end %>
                  </ul>
                </div>
              </li>
            <% end %>
          </ul>
        </div>
      </section>
    </div>

    <footer>
      <h2>シェアする</h2>
      <div class="footer_border_top"></div>
      <ul class="sns_block row">
        <li class="col s4">
          <a href="https://twitter.com/share?url=<%= root_url %>&text=TEDRadio - 日本語音声で聞けるTEDメディア" target="_blank" class="twitter sns">
            <i class="fab fa-twitter"></i>
          </a>
        </li>
        <li class="col s4">
          <a href="https://www.facebook.com/share.php?u=<%= root_url %>&text=TEDRadio | 日本語音声で聞けるTEDメディア" target="_blank" class="facebook sns">
            <i class="fab fa-facebook-f"></i>
          </a>
        </li>
        <li class="col s4">
          <a href="http://b.hatena.ne.jp/entry/<%= root_url %>" data-hatena-bookmark-layout="touch" title="このエントリーをはてなブックマークに追加" target="_blank" class="hatena sns">
            B!
          </a>
        </li>
      </ul>
      <div class="info_block">
        <a href="https://twitter.com/hatsu_38" target="_blank"><i class="fas fa-play-circle"></i>運営者</a>
      </div>
      <p class="footer_copy">
      © Copyright 2018 hastu All rights reserved.
      </p>
    </footer>
  </body>
</html>
